* {
  color: white;
}

#root {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  min-height: 100vh;
  background-image: url('Picture/Background.png');
}

.content-container {
  text-align: center;
  border: 3px solid white;
  font-size: calc(var(--font-size) * 1.666);
  background-image: url('Picture/blue.png');
  background-size: cover;
  background-position: center;
  padding: 1rem 2rem;
}
.removeBg {
  background-image: none;
  border: none;
}

.homePage {
  display: flex;
  gap: 10px;
}


.intructions {
  font-family: 'Ubuntu', sans-serif;
  background-image: url('Picture/blue.png');
  text-align: center;
  border: 3px solid white;
  font-size: calc(var(--font-size) * 1.666);
  background-size: cover;
  background-position: center;
  padding: 1rem 2rem;
}

.scoreBoard {
  background-color: yellow;
  border: 3px solid white;
  padding: 20px;
  background-image: url('Picture/ScoreBoard.png');
  text-align: center;



}
@media (max-width: 580px) {
  :root {
    --font-size: 12px;
  }
}
 @media (max-width:1220px) {

  .intructions {
    width: 66.5vw;
    font-size: calc(var(--font-size) * 0.8333)
  }

  .scoreBoard {
  background-color: yellow;
  border: 3px solid white;
  padding: 20px;
  background-image: url('Picture/ScoreBoard.png');
  text-align: center;
  }
  .homePage .scoreBoard{
    display: none;
  }
  .content-container {
    text-align: center;
    border: 3px solid white;
    font-size: calc(var(--font-size) * 1.25);
    background-image: url('Picture/blue.png');
    background-size: cover;
    background-position: center;
    padding: 1rem 2rem;
    text-wrap: wrap ;
  }
  .removeBg {
    background-image: none;
    border: none;
  }
}

.scoreBoard table {
  height: fit-content;
}


.start-btn {
  background: var(--Amber);
  border-color: var(--Amber);
  font-size: var(--font-size);
  margin: 15px 8px;
  letter-spacing: 1px;
  padding: 6px 12px;
  color: black;
  border-radius: 10%;
}

.start-btn:hover {
  background-color: white;
}

.guess {
  display: flex;
  gap: 2rem;
  flex-direction: column;
  align-items: center;
}

.guess h2 {
  line-height: 0;
  margin: 3rem 0;
}

.guess h4 {
  line-height: 0;
  margin: 1rem;
}

.sumbit {
  opacity: 80%;
}

.input {
  width: 69%;
  padding: 10px;
  margin-bottom: 1rem;
  color: black;
  font-size: calc(var(--font-size) * 0.8333);
}

.Win-btn {
  background: var(--Amber);
  border-color: var(--Amber);
  font-size: var(--font-size);
  margin: 15px 8px;
  letter-spacing: 1px;
  padding: 6px 12px;
  color: black;
  border-radius: 10%;
}

.Win-btn:hover {
  background-color: white;
}

.Lose-btn {
  background: var(--Amber);
  border-color: var(--Amber);
  font-size: var(--font-size);
  margin: 15px 8px;
  letter-spacing: 1px;
  padding: 6px 12px;
  color: black;
  border-radius: 10%;
}

.Lose-btn:hover {
  background-color: white;
}

.timer-bar {
  height: 10px;
  background-color: var(--Red);
  transition: width 1s linear;
  border-radius: 5px;
}

.random {
  font-size: calc(var(--font-size) * 2.91666);
}

ul {
  text-align: left;
  padding: 0 60px;
}

table {
  height: 40%;
  left: 10%;
  margin: 20px auto;
  overflow-y: scroll;
  position: static;
  border: 1px solid black;
}

tbody {
  background-color: white;
}

th,td {
  border: px solid black;
  font-size: calc(var(--font-size) * 0.8333);
  padding: 20px;
  text-align: center;
  color: black;
  max-height: 600px;
}

.board {
  background-image: none;
  width: auto;
  border: none;
}

dialog {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: auto;
  background-color: green;
  padding: 20px;
  border: 1px solid black;
}

dialog::backdrop {
  background-color: grey;
}

.sumbit-btn {
  background: var(--Amber);
  border-color: var(--Amber);
  font-size: var(--font-size);
  margin: 15px 8px;
  letter-spacing: 1px;
  padding: 6px 12px;
  color: black;
  border-radius: 10%;
}

.No-btn {
  background: var(--Amber);
  border-color: var(--Amber);
  font-size: var(--font-size);
  margin: 15px 8px;
  letter-spacing: 1px;
  padding: 6px 12px;
  color: black;
  border-radius: 10%;
}

.wrong {
  text-decoration: line-through;
  color: black;
}