* {
  background-color: blue;
  color: white;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

.intructions {
  text-align: center;
   margin: 200px;
   border: 3px solid white;
   margin-top: 25%;
   font-size: 24px;
}

.start-btn {
 background: yellow;
 border-color: yellow;
 font-size: 24px;
 margin: 0 8px;
 letter-spacing: 1px;
 padding: 6px 12px;
 color: black;
 border-radius: 10%;
}
.start-btn:hover {
   background-color: white;
}

.numbers {
  text-align: center;
  font-size: 40px;
  margin: 200px;
  border: 3px solid white;
  margin-top: 25%;
}
.guess {
  text-align: center;
  font-size: 40px;
  margin: 200px;
  border: 3px solid white;
  display: flex;
  gap: 2rem;
  flex-direction: column;
  align-items: center;
  /* background-color: red; */
}

.guess h2 {
  line-height: 0;
  margin: 3rem;
}

.guess h4 {
  line-height: 0;
  margin: 1rem;
}

.sumbit {
  opacity: 80%;
}

.input {
  width: 30rem;
  padding: 10px;
  margin-bottom: 1rem;


}